
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  overflow: auto;
  height: 100%;
  background: grey;
}

/* Header/logo Title */
.header {
  padding: 5px;
  text-align: center;
  background: darkgray;
  color: black;
  max-height:60px;
}




